body{
	font-family: Monospace;
	font-size: 18px;
}
#free{
	height: 30px;
}
.bg-warning{
	background-color: #e5d80e !important;
}
#header{
	height: 90px;
}
.hicon{
	font-size: 22px;
	color: black;
}
.hicon:hover , .menu-item:hover{
	color: red !important;
}
.bg-black{
	background-color: #000;
}
.h-60{
	width: 100%;
	height: 60px;
}
#age li {display: none;}
#age:hover li{display: block;}
#gender li{display: none;}
#gender:hover li{display: block;}
#imgheader{
	position: absolute;
	top: 180px;
	z-index:-1;
}
#form{
	margin-top:530px;
	position: relative;
	width: 1325px;
}
.container-fluid{
	width: 100%;
}
.shopbtn{
	position: absolute;
	top: 430px;
	left: 385px;
	z-index: 1;
}
.h-400{
	position: relative;
	top: 530px;
	color: #ff6600;
	height: 400px;
}
footer{
	height: 200px;
	background-color: #000;
	width: 100%;
}
footer ul li:hover{
	color: red;
}
.footer{
	font-size: 11px;
	font-weight: 900;
}

